html {
   width: 100%;
   height: 100%;
    margin: 0
    padding: 0;
  }



body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



.navbar {
  background-color: #222222;
  padding: 10px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
}

/* when i hover over a text it turns red and its background turn yellow */
::selection {
  color: red;
  background: yellow;
}


/*SCROLL FOR MORE*/


h4{
  position: relative;
  top: 5.6rem;
  letter-spacing: 4px;
  size: 11px;
  padding: 4px 15px 9px;
}

hr{
  position: relative;
  top: 4.3rem;
  margin-left: .8rem;
  width: 270px;
  height: 4px;
  border-top: 4px ;
  color: white;
  background-color: #3898EC;
}


.welcoming{
  position: absolute;
  text-align: left;
  left: 15.8rem;
  top: 11.5rem;
  line-height: 21em;
  letter-spacing: 0.89px;
}

h3{
  font-size: 1rem;
  letter-spacing: 1.2px;
  line-height: 22px;
  color: #495464;
}

#name{
  font-size: 475%;
  font-family: sans-serif;
  font-family: "sacrometno";
}


/*the dot next to my name,i stole this idea from someone called Ojieame Onimiya, Thanks bro!!*/

.dot{
  font-size: 90px;
  color: #002E94;
}

.face{
  position: absolute;
  top: 8.5rem;
  right: 8rem;
}



#front_page{
  display: block;
  background-color: white;
  min-height: 800px;
  position: relative;
  margin: 0;
  padding-right: 0;
}


@media only screen and (max-width: 600px){


   #front_page{
     width: auto;
     min-height: 90rem;
   }


  .face{
    position: absolute;
    top: 130px;
    left: 0;
  }

   .welcoming{
     position: relative;
     top: 55rem;
     left: 2rem;
   }

}


/*the second page in the website*/

#about{
    display: block;
    background-color: #09eaea;
    width: auto;
    position: relative;
    min-height: 800px;
}

/* the colored cards in the div about section   */

#colord-cards{
  /* position: relative;
  bottom: 170px;
  left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
the containers that contain info about me
*/
.container{
  position: relative;
  width: 55%;
  height: auto;
  border-radius: 30px;
  border: 2px solid;
  letter-spacing: normal;
}


.container1{
  background-color: #9ED5C5;
}

.container2{
  background-color: #FEB139;
}

.container3{
  background-color: #FBF46D;
}

.card-title{
  padding: 17px 50px 0 25px;
  font-size: 2.457rem;
  font-weight: bold;
  margin: 10px 0 10px 0;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: #FFE15D;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-size: 100%, 100%; */
    border-radius: 50%;
    border: 1px solid black;
}


h2{
  padding: 24px 50px 0 25px;
  font-size: 2.457rem;
  font-weight: bold;
  margin: 10px 0 10px 0;
}


p{
  padding: 0 30px 90px 30px;
  font-family:'Atkinson Hyperlegible', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  text-align: left;
  letter-spacing: 1.2px;

}


/*the third page of the website*/


#personal{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/cool.jpg");
  min-height: 320%;
  width: 96.5625;
  /* position: absolute; */
  background-blend-mode: multiply;
}


/*i really don't know what the fuck i wrote that, i tried to do something in
bootstrap but it didn't work and i'm to lazy to delet it or debugging the code*/


.row{
  padding-top: 20rem;
  margin-right: 0;
}


.col-lg-6{
  padding-left: 100px;
}


.text{
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.78;
  color: white;
}

#footer{
  background-color: #09eaea;
  height: auto;
  text-align: center;
}

h5{
  padding: 50px 0;
}
